@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&display=swap");
@font-face {
  font-family: "Euclid Circular B Semibold Placeholder";
  src: local("Arial");
  ascent-override: 92.42%;
  descent-override: 24.77%;
  line-gap-override: 0%;
  size-adjust: 108.2%;
}

@import "tailwindcss";

@font-face {
  font-family: "Euclid Circular B";
  src: url("EuclidCircularB-Bold.eot");
  src:
    local("Euclid Circular B Bold"),
    local("EuclidCircularB-Bold"),
    url("EuclidCircularB-Bold.eot?#iefix") format("embedded-opentype"),
    url("EuclidCircularB-Bold.woff2") format("woff2"),
    url("EuclidCircularB-Bold.woff") format("woff"),
    url("EuclidCircularB-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


@theme {
  --color-surface: #131316;
  --color-surface-low: #1c1b1e;
  --color-surface-container: #201f22;
  --color-surface-highest: #353437;
  --color-primary-fixed: #d1ef68;
  --color-on-primary-fixed: #171e00;

  --font-display: "Poppins", ui-sans-serif, system-ui;
  --font-body: "Inter", ui-sans-serif, system-ui;
  --font-mono: "Space Grotesk", ui-monospace, SFMono-Regular;
  --font-roboto: "Roboto", ui-sans-serif, system-ui;
  --font-jakarta: "Plus Jakarta Sans", ui-sans-serif, system-ui;
  --font-dm-sans: "DM Sans", ui-sans-serif, system-ui;
  --font-manrope: "Manrope", ui-sans-serif, system-ui;
  --font-euclid-circular-b: "Euclid Circular B", ui-sans-serif, system-ui;

  --tracking-hero: -0.04em;
  --tracking-tech: 0.05em;

  --radius-xl: 0.75rem;

  --background-image-hero-glow: radial-gradient(
    circle at center,
    rgba(209, 239, 104, 0.15) 0%,
    rgba(19, 19, 22, 0) 50%
  );

  --breakpoint-xl: 1218px;
  --breakpoint-useCase1: 1110px;
  --breakpoint-useCase2: 520px;
    --breakpoint-useCase3: 440px;
  --breakpoint-h-md: 828px;
}
