@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Clash Display";
  src: url("../fonts/ClashDisplay-Variable.woff2") format("woff2"),
       url("../fonts/ClashDisplay-Variable.woff") format("woff"),
       url("../fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@theme {
  --color-surface: #131316;
  --color-surface-low: #1c1b1e;
  --color-surface-container: #201f22;
  --color-surface-highest: #353437;
  --color-primary-fixed: #d1ef68;
  --color-on-primary-fixed: #171e00;

  --font-display: "Poppins", ui-sans-serif, system-ui;
  --font-body: "Inter", ui-sans-serif, system-ui;
  --font-mono: "Space Grotesk", ui-monospace, SFMono-Regular;
  --font-roboto: "Roboto", ui-sans-serif, system-ui;
  --font-jakarta: "Plus Jakarta Sans", ui-sans-serif, system-ui;
  --font-dm-sans: "DM Sans", ui-sans-serif, system-ui;
  --font-manrope: "Manrope", ui-sans-serif, system-ui;
  --font-clash-display: "Clash Display", sans-serif;

  --tracking-hero: -0.04em;
  --tracking-tech: 0.05em;

  --radius-xl: 0.75rem;

  --background-image-hero-glow: radial-gradient(
    circle at center,
    rgba(209, 239, 104, 0.15) 0%,
    rgba(19, 19, 22, 0) 50%
  );

  --breakpoint-xl: 1218px;
  --breakpoint-useCase1: 1110px;
  --breakpoint-useCase2: 520px;
}
